#headShot {
  width:90%;
  margin: 8% 5%;
  box-shadow: 6px 6px 11px #888888;
}

.projectPic {
  width:80vw;
  margin: 0 10vw;
}

@media all and (min-width: 600px) {
  #headShot {
    width: 15vw;
  }
  .projectPic {
    width: 15vw;
  }
}
