h1 {
  margin: 8% 0 8% 3%;
}

nav {
  display: block;
}

header {
  position: relative;
}

#bio {
  width:60vw;
  margin: 0 20vw;
}

nav ul {
  display: none;
  clear: both;
}

nav:hover ul {
  display: block;
  clear: both;
}

nav li {
  font-size: 1.4em;
  background-color: #d0d0d0;
  border-bottom: thin solid black;
  padding: 3% 10%;
}

#hamburger {
  font-size: 2em;
  margin: 8% 4%;
  margin: 8% 0 8% 10%;
  color: white;
}

#content {

}

.projectBlock {
  margin: 10vh 1vh;
  border: thin black solid;
  text-align: center;
}

@media all and (min-width: 600px) {
  #bio {
    width: 65vw;
    margin: 0;
  }
  #hamburger {
    display: none;
  }
  nav ul {
    display: inline;
  }
  nav li {
    float: left;
  }
}

@media all and (min-width: 800px) {
  #bio {
    width: 75vw;
  }
}
