nav {
  display: block;
}

header {
  position: relative;
}

#bio {
  width:60vw;
  margin: 0 20vw;
}

nav ul {
  display: none;
  clear: both;
}

nav:hover ul {
  display: block;
  clear: both;
}

nav li {
  font-size: 1.4em;
  margin-left: 5%;
  margin-bottom: 1%;
}

#hamburger {
  font-size: 2em;
  float: right;
  margin: 8% 4%;
}

.projectBlock {
  margin: 10vh 1vh;
  border: thin black solid;
  text-align: center;
}

@media all and (min-width: 600px) {
  #bio {
    width: 65vw;
    margin: 0;
  }
  #hamburger {
    display: none;
  }
  nav ul {
    display: inline;
  }
  nav li {
    float: left;
  }
}

@media all and (min-width: 800px) {
  #bio {
    width: 75vw;
  }
}
