#headShot {
  width:18em;
  margin: 8% 5%;
  box-shadow: 6px 6px 11px #888888;
  position: relative;
}

#cardBack {
  width:18em;
  margin: 8% 5%;
  box-shadow: 6px 6px 11px #888888;
}

.cardBackAbout {
  position: relative;
  width: 88%;
  margin: 0 6% 2.5em;
  padding: 0.2em;
  background-color: white;
  border: 1.5px #655e5e solid;
}

.projectPic {
  width: 100%;
  background-color: white;
}

.cardBack {
  overflow: auto;
  background-color: rgb(132, 165, 247);
  width:18em;
  margin: 8% 5%;
  box-shadow: 6px 6px 11px #888888;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23737e34' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

#aboutCardBack {
  background-color: #decf7e;
}

.backHeader {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  position: relative;
  width: 7.5em;
  font-size: 2.2em;
  background-color: white;
  margin: 1em auto;
  text-align: center;
  border: 1.5px #655e5e solid;
  border-radius: 25px;
  padding-top: 0.4em;
  height: 2em;
}

.projectBio {
  display: none;

}

.cardBackAbout:hover {
}

.cardBackAbout:hover .projectPic{
  opacity: 0;
}

.cardBackAbout:hover  .projectBio {
  display: inline;
  position: absolute;
  top: 0.5em;
  left: 1em;
}

#aboutCardBackLarge {
  display: none;
}

@media all and (min-width: 600px) {
  #headerBlock {
    margin-bottom: -3.5em;
  }

  #aboutCardBackLarge {
    display: block;
  }

  #backHeaderLarge {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    position: relative;
    width: 90%;
    font-size: 2.2em;
    background-color: white;
    margin: 1em auto;
    text-align: center;
    border: 1.5px #655e5e solid;
    border-radius: 25px;
    padding-top: 0.4em;
    height: 2em;
  }

  #cardBackAboutLarge {
    font-size: 1.2em;
    position: relative;
    width: 88%;
    height: 12em;
    margin: 0 6% 1.5em;
    padding: 0.2em;
    background-color: white;
    border: 1.5px #655e5e solid;
  }


  #headShot {
    z-index: 100;
    width: 25em;
    margin-left: 21em;
  }
  .projectPic {

  }
  nav ul {
    display: block;
  }
}
